.inputBar {
    
    font-family: var(--opensans);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-M);
    line-height: var(--font-line-height-S);
}

input::placeholder {
    font-family: var(--opensans);
    color: var(--neutral-400);
}

.inlineInput {
    display: flex;
    font-family: var(--opensans);
    align-items: center;
    gap: 1.5rem;
}

.storyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storySettings {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--background-paper-100);
    border-top: 1px solid var(--background-paper-100);
    width: 60vw;
    padding: 1rem;
}

.storySettingsInputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 0;
}

.list {
    position: relative;
    margin-bottom: var(--mantine-spacing-md);
    display: flex;
    justify-content: center;    
}
  
  .indicator {
    background-color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-gray-2);
    box-shadow: var(--mantine-shadow-sm);
  
    @mixin dark {
      background-color: var(--mantine-color-dark-6);
      border-color: var(--mantine-color-dark-4);
    }
  }

  span {
    &[data-active] {
        background-color: var(--primary-50);
      }
  }


  
  .tab {
    z-index: 1;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-M);
    font-family: var(--opensans);
    list-style: var(--font-line-height-S);
    transition: color 100ms ease;
    color: var(--background-paper-200);
    width: 356px;
    height: 56px;
    border: 0; 
    
  
    &[data-active] {
      color: var(--primary-500);
      border-radius: 12px;
      border: 1px solid var(--primary-300);
      background-color: var(--primary-50);
    }

    &[data-active] span,
    &[data-active] * {
      background-color: var(--primary-50);
    }
  
    @mixin dark {
      color: var(--mantine-color-dark-1);
  
      &[data-active] {
        color: var(--mantine-color-white);
      }
    }
  }

  .startYourStory {
    font-size: var(--font-size-M);
  }
  
