.buttonRoot {
  border-radius: 999px;
  font-weight: 600;
  height: 52px;
  padding-inline: 64.33px;
  gap: 8px;
}

.sectionIcon {
  width: 24px;
  height: 24px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.enabled {
  cursor: pointer;
}

.primrary {
    background-color: green;
}

.primraryBig{
    background-color: yellow;
}