.dropDown {
  display: flex;
  padding-left: 3rem;
}

.textContainer {
  display: flex;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 3rem;
}
