.timeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 48px;
  max-width: 15rem;
}

.alarmIcon {
  width: 24px;
  height: 24px;
}

.timeWrapper input {
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--background-paper-200);
}