.inputBar label {
  font-family: var(--opensans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-M);
  line-height: var(--font-line-height-S);
  padding-bottom: 1rem;
  white-space: nowrap;
}

.listTitle {
  font-family: var(--opensans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-M);
  line-height: var(--font-line-height-S);
  white-space: nowrap;
  margin-bottom: 0;
  padding-bottom: 0;
}

.calendarLabel,
.projectEndDate {
  font-family: var(--opensans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-M);
  line-height: var(--font-line-height-S);
  white-space: nowrap;
}

.projectEndDate {
  text-align: left;
  width: 480px;
}

.customInput::placeholder {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-M);
  line-height: var(--font-line-height-S);
  font-family: var(--opensans);
  color: var(--neutral-400);
  font-style: normal;
}

.inlineInput {
  display: flex;
  font-family: var(--opensans);
  align-items: center;
  gap: 1.5rem;
}

.inlineInput label {
  font-size: var(--font-size-M);
}

.storyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.storySettings {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--background-paper-100);
  border-top: 1px solid var(--background-paper-100);
  width: 60vw;
  padding: 1rem;
  margin-bottom: 2rem;
}

.storySettingsInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 0;
}

.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
  display: flex;
  justify-content: center;
}

span {
  &[data-active] {
    background-color: var(--primary-50);
  }
}

.tab {
  z-index: 1;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-M);
  font-family: var(--opensans);
  list-style: var(--font-line-height-S);
  transition: color 100ms ease;
  color: var(--background-paper-200);
  width: 356px;
  height: 56px;
  border: 0;

  &[data-active] {
    color: var(--primary-500);
    border-radius: 12px;
    border: 1px solid var(--primary-300);
    background-color: var(--primary-50);
  }

  &[data-active] span,
  &[data-active] * {
    background-color: var(--primary-50);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);

    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.tab button {
  border-radius: 12px;
}

.tab span {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.startYourStory {
  font-size: var(--font-size-M);
}

.inviteButton {
  width: 68px;
  height: 28px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid var(--primary-500);
  background-color: var(--primary-50);
}

.inviteButton span {
  font-size: var(--font-size-S);
  line-height: var(--font-line-height-S);
  font-weight: var(--font-weight-semi-bold);
  color: var(--primary-500);
}

.inviteButton:hover {
  background-color: var(--primary-50);
}

.projectEndDate button {
  width: 480px;
  height: 48px;
  border-radius: 12px;
  background-color: var(--neutral-white);
}

.projectEndDate button:hover {
  background-color: var(--neutral-white);
}

.accordionItem {
  border: 1px solid var(--background-paper-200);
  box-sizing: border-box;
  border-radius: 12px;
  background-color: var(--neutral-white);
}

.accordionItem button {
  border-radius: 12px;
  width: 478px;
}

.accordionPanel {
  display: block;
  margin: 0 auto;
  background-color: var(--neutral-white);
  border-radius: 0 0 12px 12px;
}

.noDisplay {
  display: none;
}

.setEndDate {
  color: black;
  text-align: center;
}

.setEndDate span {
  color: var(--primary-500);
  font-family: var(--opensans);
  font-weight: var(--font-weight-bold);
  text-align: center;
  line-height: var(--font-line-height-XL);
  border-bottom: 1px solid var(--background-paper-200);
}

.endTime .accordionItem .accordionPanel {
  display: flex;
  justify-content: center;
}

.bottomBars {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}

.projectStartDate {
  margin-bottom: 1rem;
}

.editorWrapper {
  position: relative;
}

.wordCounter {
  position: absolute;
  top: 8px;
  right: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1;
}

.timeLeft {
  border-radius: 12px;
  border: 1px solid var(--background-paper-200);
  display: flex;
  width: 264px;
  height: 144px;
  flex-direction: column;
  align-items: center;
}


.timeLeft p {
  color: var(--primary-500);
  text-align: center;
  font-family: var(--opensans);
  font-size: var(--font-size-XXL);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-XL);
}

.timeIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.daysHoursMinutes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  height: 20px;
}

.daysHoursMinutes p {
  
  color: var(--primary-500);
  text-align: center;
  font-family: var(--opensans);
  font-size: var(--font-size-XS);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--font-line-height-XS);
}



.turnCueCard {
  border-radius: 12px;
  border: 1px solid var(--background-paper-200);
  display: flex;
  width: 480px;
  height: 272px;
  padding: 12px 16px 16px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.turnCueCard p {
  color: var(--neutral-900);
  font-family: var(--opensans);
  font-size: var(--font-size-L);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--font-line-height-M);
  margin: 0;
}

.privatePageContent {
  width: 1024px;
  height: 1366px;
  margin: auto;
}

.timeAndProjectInfo {
  display: flex;
  flex-direction: row;
}

.timeAndProjectAndEnd {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.time {
  border-radius: 12px;
  border: 1px solid var(--primary-300);
  background-color: var(--primary-50);
  display: flex;
  width: 232px;
  height: 72px;
  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.time p {
  padding: 0;
  margin: 0;
}

.timeAndProjectInfo {
  display: flex;
  gap: 16px;
}



.projectInfo {
  border-radius: 12px;
  border: 1px solid var(--background-paper-200);
  display: flex;
  width: 264px;
  height: 112px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}


.startDateDiv {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  width: 246px;
}

.startDateDiv p {
  color: var(--primary-500);
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--font-line-height-S);
}

.startDateDiv span {
  color: var(--neutral-900);
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-S);
}

.endDateDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 24px;
  width: 246px;
  justify-content: space-between;
}

.endDateDiv p {
  color: var(--primary-500);
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--font-line-height-S);
}

.endDateDiv span {
  color: var(--neutral-900);
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-S);
  
}


.projectInfoComponents {
  display: grid;
  margin: 0 16px 0 16px;
  gap: 16px;
}

.daysUntilCompletion p {
  text-align: center;
  margin: 0;
  color: var(--neutral-300);
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--font-line-height-S);
}

.scrollArea {
  margin: 0 16px 0 16px;
}

.scrollBox {
  margin: 0 1rem 0 1rem;
  width: 480px;
}

.horScrollPaper {
  display: flex;
  width: 100px;
  height: 144px;
  padding: 12px 16px 16px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 1rem;
}

.turnButtons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.textEditor {
  width: 760px;
  height: 136px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.reactQuill {
  height: 100%;
  overflow-y: auto;
  border-radius: 12px;
  border: none;
  background-color: var(--primary-50);
  border: 1px solid var(--primary-200, #9EACDD);
}

.reactQuill p {
  font-family: var(--opensans);
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-S);
  margin-top: 0;
  padding-top: 12px;
  padding-left: 16px;
  color: var(--neutral-500);
}

.textEditorNumber {
  color: var(--primary-500);
  font-family: var(--merriweather);
  font-size: var(--font-size-XL);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-L);
}

.editButton {
  position: absolute;
  top: 95px; 
  bottom: 0px;
  left: 60px;
  z-index: 1;
}
